# netbeans project 
/nbproject

# cakephp framework
/Config/database.php
/Config/email.php
/Config/core.php
/Console/phpunit
/Console/core.php
/Plugin/*
/Vendor/*
/tmp/*
/webroot/files/*

# composer
/composer.lock
/composer.phar
